  </div>
  <footer class="footer">
    <div class="footer-content">
      <p>
        FlipDeck '98 &copy; 2025
      </p>

      <p>
        <a href="https://github.com/jennxsierra/flipdeck-98" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-github"></i> 
        </a>
        Jenn Sierra
      </p>
  </footer>
</body>
</html>