  <footer>
    <div class="footer">
      <p>
        FlipDeck &copy; 2025
      </p>

      <p>
        <a href="https://github.com/jennxsierra/flipdeck-98" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-github"></i> 
        </a>
        Jenn Sierra
      </p>
    </div>
  </footer>
</body>
</html>