<div class="homepage-container">
  <!-- Navbar -->
  <header class="navbar">
    <a href="/" class="logo">
      <img src="/assets/flipdeck-98-removebg.png" alt="FlipDeck Logo" />
    </a>
    <h1 class="welcome-message">FlipDeck '98 - Study Smarter!</h1>
  </header>