<%- include('../partials/meta') %>
<%- include('../partials/header') %>

<div class="floating-card">
  <h1>Add New Card</h1>
  <form method="POST" action="/flashcards">
    <div class="form-group">
      <label for="prompt">Prompt</label>
      <textarea id="prompt" name="prompt" required></textarea>
    </div>

    <div class="form-group">
      <label for="answer">Answer</label>
      <textarea id="answer" name="answer" required></textarea>
    </div>

    <div class="btn-container">
      <button type="button" class="cancel-btn">
        <a href="/">Cancel</a>
      </button>
      <button type="submit" class="submit-btn">Add</button>
    </div>
  </form>
</div>

<%- include('../partials/footer') %>
